@using PhotoSite.ManagementBoard.Services.Abstract
@using PhotoSite.WebApi.Admin
@using PhotoSite.ManagementBoard.Models
  
@inject ISettingsService SettingsService

<ResultBlock @ref="ResultBlock" />

@if (Settings != null)
{
    <EditForm Model="Settings" OnValidSubmit="Save">
        <div class="card-group">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Watermark</h5>
                    <div class="form-group row">
                        <label for="watermark_font" class="col-sm-auto col-form-label">Font</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="watermark_font" @bind-value="Settings.WatermarkFont" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="watermark_font_size" class="col-sm-auto col-form-label">Size</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="watermark_font_size" @bind-value="Settings.WatermarkFontSize" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="watermark_text" class="col-sm-auto col-form-label">Text</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="watermark_text" @bind-value="Settings.WatermarkText" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Signature</h5>
                    <div class="form-group row">
                        <label for="signature_font" class="col-sm-auto col-form-label">Font</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="signature_font" @bind-value="Settings.SignatureFont" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="signature_font_size" class="col-sm-auto col-form-label">Size</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="signature_font_size" @bind-value="Settings.SignatureFontSize" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="signature_text" class="col-sm-auto col-form-label">Text</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="signature_text" @bind-value="Settings.SignatureText" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Stamp</h5>
                    <div class="form-group row">
                        <label for="stamp_font" class="col-sm-auto col-form-label">Font</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="stamp_font" @bind-value="Settings.StampFont" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="stamp_font_size" class="col-sm-auto col-form-label">Size</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="stamp_font_size" @bind-value="Settings.StampFontSize" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="stamp_text" class="col-sm-auto col-form-label">Text</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="stamp_text" @bind-value="Settings.StampText" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="alpha" class="col-sm-1 col-form-label">Alpha</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="alpha" @bind-value="Settings.Alpha">
            </div>
        </div>

        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-success">Save settings</button>
            <button type="button" class="btn btn-info" @onclick="Reset">Reset settings</button>
        </div>
    </EditForm>
}

@code {

    private SettingsDto Settings { get; set; }
    private ResultBlock ResultBlock { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await ResultBlock.LoadAsync(() => SettingsService.GetAttributeSettings());

            UpdateState(result);
        }
    }

    private async Task Save()
    {
        await ResultBlock.LoadAsync(() => SettingsService.SaveAttributeSettings(Settings), showSuccess: true);
    }

    private async Task Reset()
    {
        var result = await ResultBlock.LoadAsync(() => SettingsService.GetDefaultSettings());

        UpdateState(result);
    }

    private void UpdateState(ResultWrapper<SettingsDto> result)
    {
        if (result.IsSuccess)
        {
            Settings = result.Result;
        }

        StateHasChanged();
    }
}