@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>       
        <NavMenu />

        <div class="container body-content">
            @Body
        </div>

    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>